// Visually hidden (screenreader only)
@mixin sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Undo hiding
@mixin visible {
  position: static;
  overflow: auto;
  width: auto;
  height: auto;
  margin: inherit;
  padding: inherit;
  clip: auto;
}

.is-hidden {
  display: none;
}

.sr-only {
  @include sr-only;
}

.is-visible {
  @include visible;
}
