$font-family-libre: 'LibreBaskerville', serif;
$font-name: 'LibreBaskerville';
$font-weight-regular-libre: 400;
$font-weight-bold-libre: 700;

$font-family-roboto: 'Roboto', sans-serif;
$font-name: 'Roboto';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// defines start and end screen sizes in px for fluid unit calculation
$fluid-min-bp: 320;
$fluid-max-bp: 1200;
